<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="zaikoConnectionString" connectionString="Driver={Microsoft Access Driver (*.mdb, *.accdb)};Dbq=F:/accessDB/Zaiko_management.accdb;Uid=Admin;Pwd=;" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
